@import './variables.css';
@import './global.css';

html,
body {
  background: url('../images/login-background.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.register {
  color: var(--white);
}

.login-background {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.login-wrapper {
  display: grid;
  grid-template-columns: 290px auto;
  padding: 50px;
  background: rgba(0, 0, 0, 0.6);
}

.login-wrapper #inputContainer {
  border-right: 2px solid var(--white);
  padding-right: 35px;
}

.login-wrapper .content {
  padding-left: 35px;
}

.login-wrapper .content h1 {
  font-size: 55px;
  color: var(--green);
  line-height: 1;
}

.login-wrapper .content .tag-line {
  font-size: 26px;
  font-weight: 600;
  margin: 25px 0;
}

.login-wrapper .content ul li {
  list-style: none;
}

.login-wrapper .content ul li i {
  color: var(--green);
  padding: 8px;
}

.login-wrapper h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}

.login-wrapper input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--white);
  display: block;
  width: 100%;
  padding: 7px 0;
  color: var(--white);
}

.login-wrapper label {
  display: block;
}

.login-wrapper button {
  background: transparent;
  border: 2px solid var(--white);
  text-align: center;
  width: 100%;
  font-size: 18px;
  border-radius: 25px;
  color: var(--white);
  font-weight: 200;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 0;
}

.login-wrapper button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

.login-wrapper p {
  margin: 1rem 0;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--placeholderText);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--placeholderText);
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--placeholderText);
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeholderText);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--placeholderText);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--placeholderText);
}

.has-account-text {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}

.has-account-text:hover {
  cursor: pointer;
}

#registerForm,
#loginForm {
  display: none;
}

.errorMessage {
  color: red;
  font-size: 13px;
}
